body
{
    font-size: 12px !important;
}

.NavigatorCategory
{
    margin: 7px;
}

.SelectedCategory
{
    background-color: yellow;
    padding: 2px;
    margin: 5px;
}

.TorrentFlag
{
    margin: 5px;
    float: right;
    height: 30px;
}

.TorrentFlagBar
{
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px 0px 10px;
}

.TorrentImage
{
    margin: auto;
    max-height: 210px;
}

.TorrentImageHolder
{
    height: 220px;
    padding: 5px;
    width: 100%;
    background-color: #6d6d6d;
}

.TorrentBlock
{
    height: 280px;
    padding: 5px 10px 5px 10px;
}

.TorrentColor
{
    display: block;
    height: 100%;
    background-color: #4f4f4f;
}

.TorrentFlagBarColor
{
    height: 40px;
    background-color: rgba(53, 126, 189, 0.68);
}

.SeriesInfo
{
    margin: 8px 5px;
    float: right;
    height: 30px;
    font-size: 18px;
}
.ScoreInfo
{
    margin: 8px 5px;
    float: left;
    height: 30px;
    font-size: 18px;
}

.InfoBar
{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 0;
    padding: 5px 10px 0px 10px;
}

.InfoBarColor
{
    height: 40px;
    background-color: rgba(49, 58, 63, 0.80);
}
